// Ideal Radio & Check
//---------------------------------------

form.idealforms

  .ideal-radiocheck-label
    cursor: pointer
    margin: .15em 0 !important

    if group-horizontal
      margin: .15em 10px !important

    input
      float: left

  .ideal-check, .ideal-radio
    float: left
    margin-right: 10px !important
    width: 20px
    height: 20px
    background: url(../img/radiocheck.png) 0 0

  .ideal-check.focus
    background-position: -20px 0

  .ideal-check.checked
    background-position: -40px 0

  .ideal-check.checked.focus
    background-position: -60px 0

  .ideal-radio
    background-position: 0 bottom

  .ideal-radio.focus
    background-position: -20px bottom

  .ideal-radio.checked
    background-position: -40px bottom

  .ideal-radio.checked.focus
    background-position: -60px bottom
