// Ideal File
//---------------------------------------

form.idealforms

  .ideal-file-wrap
    float: left

  .ideal-file-filename
    float: left
    width: input-width*.7 + 1px
    height: 100%
    border-radius: 0
    border-radius: left radius

  .ideal-file-upload
    idealbutton()
    overflow: visible
    position: relative
    float: right
    left: -1px
    width: input-width*.3
    padding-left: 0
    padding-right: 0
    text-align: center
    border-radius: 0
    border-radius: right radius

form.idealforms.adaptive
  
  .ideal-file-wrap
    width: 100%

  .ideal-file-filename
    width: 70%

  .ideal-file-upload
    width: 30%

.ideal-file-upload.ie
  line-height: 1.15
